<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Power</title>
    <link href="/js/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!--/*@thymesVar id="login" type="org.crm.gymapp.dto.LoginDAO"*/-->
<form style="width: 30%; margin-left: auto; margin-right: auto; margin-top: 15%;"
      th:action="@{/login}" method="POST">
    <div class="mb-3">
        <label for="username" class="form-label">Email address</label>
        <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div th:if="${param.logout}" class="alert alert-success">
        You have been logged out successfully.
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
